@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(#517e86c4, #949fdf1a), url(img/banner1.png); */
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}

nav .fab {
    font-size: 42px;
    /* color: #5236f4; */
    color: #071f4d;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
    text-transform: uppercase;
}

.nav-links ul li a {
    text-decoration: none;
    color: rgb(110, 29, 29);
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #071f4d;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text_box {
    width: 90%;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text_box h2 {
    font-size: 90px;
    font-weight: 900;
    color: #071f4d;
}

.text_box #headtext {
    font-size: 42px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: -1%;
    margin-bottom: 1%;
    color: #c8fff2;
}

.text_box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.hero_btn {
    position: relative;
    display: inline-block;
    color: #071f4d;
    border: 1px solid #071f4d;
    border-radius: 5px;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
}

.hero_btn:hover {
    border: 1px solid #071f4d;
    background: #071f4d;
    transition: 1s;
}

nav .fa {
    display: none;
}

/* Responsive Navbar Section Start */

@media(max-width: 700px) {
    .text_box h2 {
        font-size: 50px;
    }
    .text_box #headtext {
        font-size: 23px;
    }
    .text_box p {
        margin: 10px 40px;
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: fixed;
        background: #ffffff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1.2s;
    }
    nav .fa {
        display: block;
        color: #071f4d;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}

/* Responsive Navbar Section End */

/* Course Section Start */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course p{
    color: black;
}

.PageBlock {
    position: relative;
    margin: 0px !important;
    padding: 0px;
}

.verticalLine {
    widtH: 2px;
    height: 100px;
    background: #071f4d;
    margin: 0 auto 40px;
}

.Clear {
    clear: both;
}

h1 {
    font-size: 46px;
    font-weight: 800;
    margin: 15px 0;
    line-height: 50px;
    /* text-transform: uppercase; */
    color: #071f4d;
}

.course-col p {
    color: rgb(223, 223, 223);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background: #071f4d;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.1;
    color: white;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
    .verticalLine {
        widtH: 1px;
    }
    h1 {
        font-size: 24px;
        line-height: unset;
    }
    .row {
        flex-direction: column;
    }
}

/* Course Section End */

/* Campus Section Start */

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col {
    position: relative;
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    /* background: rgba(226, 0, 0, 0.7); */
    background: #24f8c741;
}

.layer h3 {
    position: absolute;
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/* Campus Section End */

/* Facilities Section Start */

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    transition: 0.5s;
    border-radius: 10px;
}

.facilities-col img:hover {
    box-shadow: 0 0 20px 10px rgba(54, 58, 121, 0.2);
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 15px;
}

/* Facilities Section End */

/* Testimonials Section Start */

.testimonials {
    margin: auto;
    width: 80%;
    padding-top: 100px;
    text-align: center;
}

.testimonials-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #bec7ce;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonials-col img {
    height: 60px;
    width: 60px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonials-col p {
    padding: 0;
}

.testimonials-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testimonials-col .fa {
    color: #941e1e;
}

@media (max-width: 700px) {
    .testimonials-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
}

/* Testimonials Section Start */

/* Call To Action Section Start */

.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(220, 221, 223, 0.5), rgba(255, 249, 249, 0.7));
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta-interview{
    margin: 0;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  /* float: left; */
  text-decoration: none;
}

.cta-cat{
    margin: 0;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  /* float: right; */
  text-decoration: none;
}

.cta h1 {
    font-size: 58px;
    font-weight: 800;
    margin: 15px 0;
    line-height: 1.1;
    /* text-transform: uppercase; */
    color: #071f4d;
}

.cta-button:hover{
    background-color: #071f4d !important;
}

@media (max-width: 700px) {
    .cta h1 {
        font-size: 26px;
    }
}

/* Call To Action Section End */

/* Footer Section Start */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 20px;
}

.footer a {
    text-decoration: none;
    color: #949fdf;
    font-weight: 600;
}

.footer a:hover {
    color: #bec7ce;
}

.icons .fab {
    color: #5236f4;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fab:hover{
    color: #bec7ce;
}

.fa-heart {
    color: #071f4d;
}

hr {
    border: 0.01px solid #7777772a;
}

/* Footer Section End */

/* About Us Section Start */

.Sub-header {
    height: 50vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(42, 139, 230, 0.7), rgba(255, 255, 255, 0.7)); */
    background-image: linear-gradient(rgba(220, 221, 223, 0.5), rgba(255, 249, 249, 0.7));
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.Sub-header h1 {
    margin-top: 100px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 100%;
}

.about-col h1 {
    padding-top: 0;
}

.about-col p {
    padding: 15px 0 25px;
}

.btn {
    border: 1px solid #5236f4;
    background: transparent;
    color: #5236f4;
}

.btn:hover {
    color: #fff;
}

/* About Us Section end */

/* Blog Section start */

.blog-content {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left {
    flex-basis: 65%;
}

.blog-left img {
    width: 100%;
    margin-bottom: 20px;
}

.blog-left h2 {
    color: #222;
    font-weight: 600;
    margin: 20px 0;
}

.blog-left h5 {
    color: #24f8c7;
    font-weight: bolder;
    margin: 5px 0;
    cursor: pointer;
}

.blog-left p {
    color: #999;
    padding: 0;
}

.blog-right {
    flex-basis: 32%;
}

.blog-right h3 {
    background: #24f8c7;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.blog-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

.blog-right div:hover {
    color: #24f8c7;
    cursor: pointer;
}

/* Blog Section End */

/* Comment Box Section Start */

.comment-box {
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3 {
    text-align: left;
}

.comment-form input, .comment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.comment-form button {
    margin: 10px 0;
}

@media(max-width: 700px) {
    .Sub-header h1 {
        font-size: 24px;
    }
}

/* Comment Box Section End */

/* Contact Us Section Start */

.loacation {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.loacation iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.content-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.content-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.content-col div .fa {
    font-size: 28px;
    color: #24f8c7;
    margin: 10px;
    margin-right: 30px;
}

.content-col div p {
    padding: 0;
}

.content-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.content-col input, .content-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
}

/* Contact Us Section end */

.genric-btn2 {
  color: black;
  position: relative;
  display: inline-block;
  z-index: 1;
  max-width: 100%;
  padding: 0px 34px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  height: 50px;
  line-height: 50px;
  transition: .3s;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .genric-btn2:hover {
    background: #f2f5fa;
    color: #1e283c; }

    @media (max-width: 767px){
        .hero-img{
            display: none;
        }
    }

    @media (min-width: 768px){
        .hero-img{
            width: 100%;
        }
    }

    /************team*******************/
    .gray {
        color: #a5a5a5;
      }
      
      .team{
        margin:40px;
      }
      
      .team-member {
        margin: 15px 0;
        padding: 0;
      }
      
      .team-member figure {
        position: relative;
        overflow: hidden;
        padding: 0;
        margin: 0;
      }
      
      .team-member figure img {
        max-width: 50%;
      }
      
      .team-member figcaption p {
        font-size: 16px;
      }
      
      .team-member figcaption ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .team-member figcaption ul {
        visibility: visible;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }
      
      .team-member figcaption ul li {
        display: inline-block;
        padding: 10px;
      }
      
      .team-member h4 {
        margin: 10px 0 0;
        padding: 0;
      }
      
      .team-member figcaption {
        padding: 50px;
        color: transparent;
        background-color: transparent;
        position: absolute;
        z-index: 996;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      
      .team-member figure:hover figcaption {
        visibility: visible;
        color: #fff;
        background: #071f4d;
        /* Primary color, can be changed via colors.css */
        
        height: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      
      .team-member figure:hover figcaption ul li a:hover {
        color: rgba(49, 49, 49, .97);
      }
      
      .team-member figure img {
        -webkit-transform: scale(1) rotate(0) translateY(0);
        -moz-transform: scale(1) rotate(0) translateY(0);
        -o-transform: scale(1) rotate(0) translateY(0);
        -ms-transform: scale(1) rotate(0) translateY(0);
        transform: scale(1) rotate(0) translateY(0);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
      
      .team-member figure:hover img {
        -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
        -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
        -o-transform: scale(1.1) rotate(1deg) translateY(12px);
        -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
        transform: scale(1.1) rotate(1deg) translateY(12px);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }

      /*************cat model**************/
      #pricing-tables {
        background-color: #eeeeee;
        padding: 30px 0;
      }
      
      .single-table {
        background: #fff;
        transition: all 0.2s linear;
        /* Bounce To Right */
      }
      .single-table:hover {
        box-shadow: 0px 3px 3px 0px #888888;
        transition: all 0.2s linear;
      }
      .single-table .plan-header {
        background: #34495e;
        color: #fff;
        text-transform: capitalize;
        padding: 2px 0;
      }
      .single-table .plan-header h3 {
        margin: 0;
        padding: 20px 0 5px 0;
        text-transform: uppercase;
      }
      .single-table .plan-price {
        color: #fff;
        padding: 10px 0;
        margin: 0;
        font-size: 30px;
        border-top: 2px solid #587ca0;
        font-weight: bold;
      }
      .single-table .plan-price span {
        font-size: 18px;
        font-weight: normal;
      }
      .single-table ul {
        margin: 0;
        padding: 20px 0;
        list-style: none;
      }
      .single-table ul li {
        padding: 8px 0;
        margin: 0 20px;
        border-bottom: 1px solid #dae2ea;
        font-size: 15px;
      }
      .single-table .plan-submit {
        display: inline-block;
        text-decoration: none;
        margin: 20px 0 30px 0;
        padding: 10px 40px;
        border: 1px solid #34495e;
        color: #34495e;
        font-size: 15px;
        text-transform: uppercase;
      }
      .single-table .hvr-bounce-to-right {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px transparent;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        transition-property: color;
        transition-duration: 0.5s;
      }
      .single-table .hvr-bounce-to-right:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #34495e;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
      }
      .single-table .hvr-bounce-to-right:hover,
      .single-table .hvr-bounce-to-right:focus,
      .single-table .hvr-bounce-to-right:active {
        color: white;
      }
      .single-table .hvr-bounce-to-right:hover:before,
      .single-table .hvr-bounce-to-right:focus:before,
      .single-table .hvr-bounce-to-right:active:before {
        transform: scaleX(1);
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      }